/*
 * Corne wireless (nice_nano_v2)
 * Layers: 0=BASE / 1=LOWER / 2=RAISE / 3=COLEMAK-DH
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        base: layer_base {
            display-name = "Base";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I &kp O &kp P &kp ESC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
                &kp LALT  &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp GRAVE
                               &kp LGUI &mo 1 &kp BSPC   &kp RET &mo 2 &kp RALT
            >;
        };
        
        lower: layer_lower {
            display-name = "Lower";
            bindings = <
                &trans &kp LEFT &kp UP &kp RIGHT &trans &trans   &kp N7 &kp N8 &kp N9 &kp LBRC &kp RBRC &kp BSPC
                &trans &trans &kp DOWN &trans &kp PGUP &kp PGDN   &kp N4 &kp N5 &kp N6 &kp MINUS &kp BSLH &trans
                &trans &trans &trans &trans &trans &trans   &kp N1 &kp N2 &kp N3 &trans &trans &trans
                             &trans &trans &trans   &kp N0 &trans &trans
            >;
        };
        
        raise: layer_raise {
            display-name = "Raise";
            bindings = <
                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp LBRC &kp RBRC &kp BSPC
                &kp LCTRL &kp EQUAL &kp EQUAL &kp N9 &kp N0 &kp BSLH   &kp MINUS &kp UNDER &kp PLUS &kp BSLH &kp GRAVE &trans
                &kp LSHFT &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS &kp STAR &kp FSLH &kp QMARK &trans
                                  &kp LGUI &trans &kp SPACE   &kp RET &trans &kp RALT
            >;
        };
        
        colemak: layer_colemak {
            display-name = "Colemak-DH";
            bindings = <
                &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L &kp U &kp Y &kp SEMI &kp ESC
                &kp LCTRL &kp A &kp R &kp S &kp T &kp G   &kp M &kp N &kp E &kp I &kp O &kp SQT
                &kp LALT  &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H &kp COMMA &kp DOT &kp FSLH &kp GRAVE
                               &kp LGUI &mo 1 &kp BSPC   &kp RET &mo 2 &kp RALT
            >;
        };
    };
};
